li:first-child {
  color: red;
}
li:last-child {
  color: green;
}
li:nth-child(even) {
  /* color: lawngreen; */
}
li:nth-child(2n + 5) {
  color: lawngreen;
}
button:disabled {
  background-color: tomato;
  color: white;
}
*:target {
  color: purple;
}
