:root{
  --bg-color-main: #eeeeee;
  --main-font-size: 16px;
}
p + p {
  color: red;
}
p + div {
  color: teal;
}
#container > p ~ div {
  font-size: 20px;
  color:red;
}
p:hover{
  background-color:tomato;
}
p::after{
  content: "";
  background-color: violet;
}
.inner-block>p:hover{
  background-color: yellowgreen;
}