*{
  box-sizing: border-box;
}
body{
  font-size: 20px;
}
#container{
  border: 1px solid red;
}
div{
  border: 3px double green;
}
.block{
  border: 2px dotted orange;
}
p{
  background-color: orchid;
}
#container p{
  background-color: palegreen;
}
#container>p{
  background-color: slateblue;
}
#container>.block>p {
  background-color: yellow;
}
#container>.block>.inner-block>p {
  background-color: tomato;
}